<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename='chirrup_client.js') }}"></script>
	


</head>
<body>


	<div class="text-center">
		<h1 style="font-family: 'Chewy'; font-size:400%">Profile </h1>
	</div>
	<div class="text-center">
		<img src="{{url_for('static', filename='profile_pic.png')}}" alt="profile pic">
	</div>


	<div style="padding-top: 30px">
		

	</div>

</div>



<div class="container"> 

	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<p>Nickname:</p>
			<div class="input-group">

				<input type="text" class="form-control" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Change</button>
				</span>
			</div>
		</div>
	</div>

</div>

<div class="container text-center" style="height: 100px;">
	<div class="btn-group-vertical">
		&nbsp; 
		<a href="{{ url_for('rooms') }}" class="btn btn-default">Browse rooms</a>
		<button class="btn btn-default" type="button">Delete profile</button>
		<button class="btn btn-default" type="button">Log off</button>
	</div>
</div>


</div>



</div>

</body>
</html>